{% extends 'base.html' %}
 
{% block content %}
<form action="/add" method="post"> 
    <div class="mb-3">
        <label>Name</label>
        <input type="text" name="name" placeholder="Name" class="form-control" />
    </div> 
    <div class="mb-3">
        <label>Description</label>
        <input type="text" name="description" placeholder="Description" class="form-control" />
    </div> 
    <div class="mb-3">
        <label>Progress</label>
        <select name="progress" class="form-control">
            <option value="open">Open</option>
            <option value="in progress">In Progress</option>
            <option value="completed">Completed</option>
        </select>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary mb-3"/>  
</form> 
{% endblock content %}
